body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

.app-container{
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.1rem;
}

.ordered-text {
  text-decoration: line-through;
  color: #888;
  font-weight: bold;
}